a {
    text-decoration: none !important;
}

.btn-icon {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    color: #f8d9c0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
    transition: all .4s ease;
    background-color: rgba(244,187,146,0.2);
}

.btn-title {
    margin: 4px auto;
    font-weight: bold;
}

.btn-icon:hover {
    color: #fff;
}

.btn-icon.active {
    color:  #fff;
    background-color: rgb(244,187,146);
    transform: scale(1.05);
}

